/* last css */
a{
	text-decoration: none;
}

.medical_container_box{
	width: 100%;
	margin: 0 auto;
	color: #000;
	height: 400px;
	padding-top:50px;
	padding-bottom:50px;
}


.medical_box_photo{
	
}

.medical_box_photo .holder1{
	width: 100%;
	background-image: url(../photo/medical1.jpg);
	overflow: hidden;
	height: 400px;
	background-size:cover;
	background-position:center center;
}


.medical_box_photo .holder3{
	width: 100%;
	background-image: url(../photo/medical3.jpg);
	overflow: hidden;
	height: 400px;
	background-size:cover;
	background-position:center center;
	
}


.medical_box_photo .holder4{
	width: 100%;
	background-image: url(../photo/03_fitness_01.png);
	overflow: hidden;
	height: 400px;
	background-size: cover;
	background-position: center center;
}


.medical_box_photo .holder6{
	width: 100%;
	background-image: url(../photo/fitness4.jpg);
	overflow: hidden;
	height: 400px;
	background-size: cover;
	background-position:center center;
}


.medical_box_photo .holder7{
	width: 100%;
	background-image: url(../photo/shopping1.png);
	overflow: hidden;
	height: 400px;
	background-size: cover;
	background-position:center center;
}

.medical_box_text_left{
	
	float:right;
	text-align:left;
	width:45%;
	height:400px;
	margin-right:50px;
	
}


.medical_box_text_left h1{
	font-size: 35px;
	line-height: normal;
	margin-bottom: 15px;
	color: #ca9f39;
	font-weight: 100;
}

.medical_box_text_left h2{
	font-size: 18px;
	line-height: normal;
	margin-bottom: 35px;
	color: #ca9f39;	
}

.medical_box_text_left p{
	font-size: 16px;
	line-height: normal;
	color: #666;	
}



.medical_box_photo{
	
}

.medical_box_photo .holder2{
	width: 100%;
	background-image: url(../photo/medical2.jpg);
	overflow: hidden;
	height: 400px;
	background-size:cover;
	margin-right:50px;
	background-position:center center;
}

.medical_box_photo .holder5{
	width: 100%;
	background-image: url(../photo/fitness2.png);
	overflow: hidden;
	height: 400px;
	background-size: cover;
	margin-right: 50px;
	background-position:center center;
}


.medical_box_text_right{
	float: left;
	text-align: right;
	width: 45%;
	height: 400px;
	margin-left: 50px;
}


.medical_box_text_right h1{
	font-size: 35px;
	line-height: normal;
	margin-bottom: 15px;
	color: #ca9f39;
	font-weight: 100;
}

.medical_box_text_right h2{
	font-size: 18px;
	line-height: normal;
	margin-bottom: 35px;
	color: #ca9f39;	
}

.medical_box_text_right p{
	font-size: 16px;
	line-height: normal;
	color: #333;
}

.medical_btn{
	padding: 20px;
	border: 1px solid #ca9f39;
	font-size: 14px;
	float: left;
	color: #ca9f39;
	font-weight: normal;
	text-align: center;
	margin-top: 30px;
	line-height: normal;	
}

.medical_btn:hover{
	background-color: #ca9f39;
	color: #fff;	
}

.walking_event_btn{
	padding: 20px;
	border: 1px solid #fff;
	font-size: 14px;
	margin: 0 auto;
	color: #fff;
	font-weight: normal;
	text-align: center;
	margin-top: 30px;
	line-height: normal;	
	text-decoration:none;
}

.walking_event_btn a{
	text-decoration:none;
}

.walking_event_btn:hover{
	background-color: #ca9f39;
	border: 1px solid #ca9f39;
	color: #fff;	
}



.medical_btn2{
	padding: 20px;
	border: 1px solid #ca9f39;
	font-size: 14px;
	float: right;
	color: #ca9f39;
	font-weight: normal;
	text-align: center;
	margin-top: 30px;
	line-height: normal;	
}

.medical_btn2:hover{
	background-color: #ca9f39;
	color: #fff;	
}



.arrow-down{
	width: 0;
	height: 0px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #d7b66f;
	margin: 0 auto;
}



.medical_center_popup{
	
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.8);
	position:fixed;
	z-index:9999999;
	
}

.fb_dialog {z-index: 99999999999999 !important;}



.medical_center_popup_box{
	
	width:900px;
	height:400px;
	padding:50px;
	background-color:#fff;
	top:50%;
	left:50%;
	position:absolute;
	margin-left:-500px;
	margin-top:-250px;
	line-height:none;
	text-align:center;
	
}

.medical_center_close_btn{
	position: absolute;
	top: 0;
	right: 0;
	color: #000;
	font-size:50px;	
}


.medical_center_close_btn:hover{
	position: absolute;
	top: 0;
	right: 0;
	color: #b9b07e;
	font-size:50px;	
}

.medical_center_line{
	
	
	margin:0 auto;
	margin-top:50px;
	margin-bottom:50px;
	width:50%;
	height:1px;
	background-color:#CCC;
	
	
}

.medical_center_popup_box h1{
	font-size: 25px;
	color: #000;
	line-height: normal;
	font-weight: normal;
	
}

.medical_center_popup_box h2{
	padding-top:20px;
	font-size: 15px;
	color: #999;
	line-height: normal;
	font-weight: normal;
}

.medical_center_popup_box h3{
	font-size: 15px;
	color: #000;
	line-height: normal;
	font-weight: normal;
}

.medical_center_popup_box h4{
	font-size: 30px;
	color: #b8af7d;
	line-height: normal;
	font-weight: normal;
	margin-top:30px;
}


.verify_btn_container{
	width: 900px;
	bottom: 0;
	padding-top: 153px;	
}


.verify_btn_container2{
	width: 900px;
	bottom: 50px;
	position:absolute;
}


.verify_btn_container3{
	width: 900px;
	bottom: 50px;
	position:absolute;
}

.verify_btn_container4{
	width: 900px;
	bottom: 50px;
	position:absolute;
}

.verify_btn{
	
	width:438px;
	padding-top:15px;
	padding-bottom:15px;
	border:1px solid #000;
	font-size:14px;
	float:left;
	color:#000;
	margin-right:20px;
	font-weight:bold;
	
	
}

.verify_btn:hover{
	
	background-color:#000;
	color:#b8af7d;
	
}


.verify_btn2{
	
	width:438px;
	padding-top:15px;
	padding-bottom:15px;
	border:1px solid #000;
	font-size:14px;
	float:left;
	color:#000;
	font-weight:bold;
	
	
}


.verify_btn2:hover{
	
	background-color:#000;
	color:#b8af7d;
	
}



.verify_btn3{
	
	width:900px;
	padding-top:15px;
	padding-bottom:15px;
	border:1px solid #000;
	font-size:14px;
	color:#000;
	font-weight:bold;
	
	
}


.verify_btn3:hover{
	
	background-color:#000;
	color:#b8af7d;
	
}


.verify_text_box{
	width: 768px;
	height: 18px;
	border: 1px solid #CCC;
	padding: 10px;
	font-size:15px;
	line-height:22px;
}

.verify_select_box{
	width: 790px;
	border: 1px solid #CCC;
	padding: 10px;
	font-size:15px;
}


.verify_select_box2{
	width: 300px;
	border: 1px solid #CCC;
	padding: 10px;
	font-size:15px;
	float:left;
	margin-right:20px;
}

.verify_select_box3{
	width: 470px;
	border: 1px solid #CCC;
	padding: 10px;
	font-size:15px;
	float:left;
}


.coupon_box{
	width: 880px;
	border: 10px solid #efefef;
	height: 200px;
}

.coupon_box_left{
	border-right: 1px dashed #666;
	float: left;
	width: 298px;
	height:200px;
}

.coupon_box_right{
	float: left;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 580px;
}


.tablescroll
{ font: 12px normal Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif; background-color:#fff; }

.tablescroll td, 
.tablescroll_wrapper,
.tablescroll_foot
{ border:1px solid #ccc; }

.tablescroll_head{ border:none;}

.tablescroll td
{ padding:15px 15px; }

.tablescroll_wrapper
{ border-left:0; }

.tablescroll_head
{ font-size:18px; font-weight:bold; background-color:#bbbcbe; border-left:0; border-top:0; margin-bottom:3px; }

.tablescroll thead td
{ border-right:0; border-bottom:0; }

.tablescroll tbody td
{ border-right:0; border-bottom:0; }

.tablescroll tbody tr.first td
{ border-top:0; }

.tablescroll_foot
{ font-weight:bold; background-color:#eee; border-left:0; border-top:0; margin-top:3px; }

.tablescroll tfoot td
{ border-right:0; border-bottom:0; }




#callInst{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 330px;
	height: 280px;
	background-color: #D7B672;
	-moz-box-shadow: 0px 0px 9px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 0px 9px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 9px rgba(0,0,0,0.6);
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=0, Color='rgba(0,0,0,0.6)')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=0, Color='rgba(0,0,0,0.6)');
	
	
}

#callInst .upper{
	
	padding:30px;
	
}


#callInst h1{
	
	font-size:18px;
	
}

#callInst h2{
	
	font-size:70px;
	font-family:"museo_slab",sans-serif;
	color:#fff;
	
}

#callInst p{
	
	color:#fff;
	font-size:14px;
	line-height:normal;
	padding-top:20px;
	
}

#callInst a{
	
	color:#fff;
	
}


#callInst .bottom{
	padding-top: 30px;
	color: #fff;
	font-size: 25px;
	border-top: 1px #a99262 dashed;
	text-align: center;
}


#thetable2{
	text-align:center;
}


#thetable2 img{
	max-height: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}
