@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


/* fonts */
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'museo_slab';
    src: url('../fonts/museo_slab_500-webfont.eot');
    src: url('../fonts/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo_slab_500-webfont.woff') format('woff'),
         url('../fonts/museo_slab_500-webfont.ttf') format('truetype'),
         url('../fonts/museo_slab_500-webfont.svg#museo_slab') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face{
font-family:'NanumBarunGothic';
font-style:normal;
font-weight:400;
src:url('http://balance.zikto.com/fonts/NanumBarunGothic.eot');
src:url('http://balance.zikto.com/fonts/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
	url('http://balance.zikto.com/fonts/NanumBarunGothic.woff') format('woff'),
	url('http://balance.zikto.com/fonts/NanumBarunGothic.ttf') format('truetype');
}
@font-face{
font-family:'NanumBarunGothic';
font-style:normal;
font-weight:700;
src:url('http://balance.zikto.com/fonts/NanumBarunGothicBold.eot');
src:url('http://balance.zikto.com/fonts/NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
	url('http://balance.zikto.com/fonts/NanumBarunGothicBold.woff') format('woff'),
	url('http://balance.zikto.com/fonts/NanumBarunGothicBold.ttf') format('truetype')
}
@font-face{
font-family:'NanumBarunGothic';
font-style:normal;
font-weight:300;
src:url('http://balance.zikto.com/fonts/NanumBarunGothicLight.eot');
src:url('http://balance.zikto.com/fonts/NanumBarunGothicLight.eot?#iefix') format('embedded-opentype'),
	url('http://balance.zikto.com/fonts/NanumBarunGothicLight.woff') format('woff'),
	url('http://balance.zikto.com/fonts/NanumBarunGothicLight.ttf') format('truetype');
}


/* fonts */



.header_nav{
	
	width:100%;
	position:absolute;
	z-index:100;
	position:fixed;
	transition: all 0.2s ease-in-out;
	background-color:transparent;
	
}


.header_nav.active{
	
	 background: rgba(255,255,255,1);
	 color:#000;
	 border-bottom:1px solid #CCC;
	
}

.header_nav.active a{
	
	 color:#000;
	
}

.header_nav.active{
	
	 color:#000;
	
}


.header_nav_inside{
	max-width: 710px;
	margin: 0 auto;	
}


/* Chrome 29+ */
.header_nav_inside{
	max-width: 1000px;
	margin: 0 auto;
}


.header_nav_inside ul{
	
}


.header_nav_inside li{
	
	width:50%;
	float:left;
	list-style:none;
	font-family:'NanumBarunGothic';
	
}


.nav_language{
	width: 1000px;
	margin: 0 auto;
	text-align: right;
	font-size: 12px;
	color: #fff;
}




/* dropdown */

/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 13px;
    border: none;
    cursor: pointer;
	background-color:transparent;
	font-family: 'open_sanssemibold';
}



.dropbtn a {
    color: white;
}

.dropbtn a:hover {
    color: #ff4165;
}

/* The container <div> - needed to position the dropdown content */
.nav_logo {
    position: relative;
    display: inline-block;
	background-color:transparent;
}

.dropdown {
    position: relative;
    display: inline-block;
	background-color:transparent;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
}

/* dropdown */




/* middle contents */

.contentno1{
	width: 100%;
	background-color: #2b2b2b;
}

.contentno1_inside{
	width: 1000px;
	margin: 0 auto;
	background-image: url(../img/sub/phone_screen_img2.png);
	background-position: right bottom;
	background-repeat: no-repeat;
}

.contentno1_header{
	padding-top: 100px;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
}


.contentno1_content{
	padding-top: 35px;
	padding-bottom: 30px;
	font-size: 13px;
	font-weight: normal;
	color: #fff;
	line-height: 24px;
	width: 50%;
	height: 162px;
}


.contentno1_content ul{
}


.contentno1_content li{
	
	width:133px;
	float:left;
	list-style:none;
	text-align:center;
}

.contentno1_content li h1{
	
	font-size:18px;
	text-align:center;
}

.contentno1_content li h2{
	
	font-size:13px;
	text-align:left;
}


.contentno1_content li i{
	
	font-size:50px;
}


.contentno2{
	width: 100%;
	background-color: #232323;
}

.contentno2_inside{
width:1000px;
margin:0 auto;
}


.contentno2_header{
	padding-top: 80px;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	text-align: center;
}


.contentno2_header_box{
	width: 20px;
	height: 3px;
	background-color: #ca9f39;
	margin: 0 auto;
	margin-top: 15px;
}


.contentno2_subheader{
	padding-top: 15px;
	padding-bottom: 20px;
	font-size: 16px;
	font-weight: normal;
	color: #dddddd;
	text-align: center;
}

#contentno2_no1{
	width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

#contentno2_no1 p{
	
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
	font-size:15px;
	color:#000;
}

#contentno2_no2{
	width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

#contentno2_no2 p{
	
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
	font-size:15px;
	color:#000;
}

#contentno2_no3{
	width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

#contentno2_no3 p{
	
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
	font-size:15px;
	color:#000;
}

#contentno2_no4{
	width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

#contentno2_no4 p{
	
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
	font-size:15px;
	color:#000;
}

.contentno2_btn{
	border: 1px solid #bcb172;
	text-align: center;
	font-size: 15px;
	color: #bcb172;
	margin: 0 auto;
	width: 180px;
}


.contentno2_bottom_btns{
	width: 720px;
	margin: 0 auto;
	height: 245px;
}


.contentno2_bottom_btns ul{
	
}

.contentno2_bottom_btns li{
	
	width:90px;
	margin-right:120px;
	float:left;
	list-style-type:none;
	
	
}

.contentno2_bottom_btns li.last{
	
	margin-right:0px;
	
}


.contentno2_bottom_btns_btn1 {
	width: 90px;
	height: 90px;
}
.contentno2_bottom_btns_btn2 {
	width: 90px;
	height: 90px;
}
.contentno2_bottom_btns_btn3 {
	width: 90px;
	height: 90px;
}
.contentno2_bottom_btns_btn4 {
	width: 90px;
	height: 90px;
}
.contentno2_bottom_btns_text1 {
	font-size: 18px;
	color: #000;
	font-weight: bold;
	line-height: 23px;
	text-align: center;
	padding-top:15px;
}


.contentno2_boxes_container{
	width: 1000px;
	height: 900px;
}

.contentno2_boxes_container ul{}

.contentno2_boxes_container li{
	width: 418px;
	border: 1px solid #474748;
	float: left;
	list-style: none;
	padding: 30px;
	text-align: center;	
}

.contentno2_boxes_container li h1{
	font-size: 20px;
	text-align: center;
	color: #fff;	
}

.contentno2_boxes_container li p{
	font-size: 13px;
	text-align: center;
	color: #767676;
}

.contentno3{
width:100%;
background-color:#fff;
}

.contentno3_inside{
width:1000px;
margin:0 auto;
}



.contentno4{
	width: 100%;
	background-color: #fff;
}

.contentno4_inside{
	width: 1000px;
	margin: 0 auto;
}


.contentno4_header{
	padding-top:80px;
	font-size:22px;
	font-weight:bold;
	color:#000;
	text-align:center;
}

.contentno4_subheader{
	padding-top: 15px;
	padding-bottom: 20px;
	font-size: 16px;
	font-weight: normal;
	color: #a4a4a4;
	text-align: center;
}



#contentno5_no1{
	width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

#contentno5_no1 p{
	
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
	font-size:15px;
	color:#000;
}

#contentno5_no2{
	width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

#contentno5_no2 p{
	
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
	font-size:15px;
	color:#000;
}

#contentno5_no3{
	width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

#contentno5_no3 p{
	
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
	font-size:15px;
	color:#000;
}

.contentno5_main_container{
	width: 1000px;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #000;
}

.contentno5_main_container ul{
	
}

.contentno5_main_container li{
	width: 270px;
	margin-right:95px;
	float:left;
	list-style:none;
	border-top:1px solid #000;
	margin-bottom:95px;
}

.contentno5_main_container li h1{
	font-size:18px;
	font-weight:normal;
}

.contentno5_main_container li img{
	width:270px;
	margin-top:30px;
	margin-bottom:30px;
}

.contentno5_main_container li p{
	font-size:14px;
	font-weight:normal;
	text-align:left;
}


.contentno5_main_container li.last{
	width: 270px;
	margin-right:0px;
	float:left;
}

.contentno4 p{
	font-size:15px;
	text-align:center;
}


/* parallax scroll */

h2 {
	margin-top: 0;
}
.loading {
	background: url('../img/ico_loading.gif') no-repeat center center;
}
section {
	min-width: 960px;
	opacity: 0;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
main {
	overflow-x: hidden;
}

.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}
/* Slide 1 */
#slide-1 .bcg {
	background-image: url(../img/balance/02_medical.jpg)
}

/* Slide 2 */
#slide-2 .bcg {
	background-image: url(../img/balance/03_fitness.jpg)
}


/* Slide 3 */
#slide-3 .bcg {
	background-image: url(../img/balance/05_shopping.jpg)
}


/* Slide 4 */
#slide-4 .bcg {
	background-image: url(../img/balance/balance4.jpg)
}


/* Slide 5 */
#slide-5 {position: relative;}
#slide-5 .bcg {
	background-image: url(../img/balance/balance6.jpg)
}
#slide-5 .bcg2 {background-image:url('../img/bcg_slide-5b.jpg'); position: fixed; bottom: 0; left: 0; opacity: 0; z-index: 1}
#slide-5 .bcg3 {background: none; background-color: #010101; z-index: 2;  position: fixed; bottom: 0; left: 0; opacity: 0; z-index: 2}

.hsContainer {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
	max-width: 100%;
	margin: -150px auto 0 auto;
	display: table-cell;
	vertical-align: middle;
	color: #ebebeb;
	text-align: center
}
	.hsContent h2,
	.copy h2 {
	color: #ffffff;
	font-size: 50px;
	line-height: 60px;
	margin-bottom: 12px;
	font-weight: light;
	}
	.hsContent h5,
	.copy h5 {
	color: #fff;
	font-size: 36px;
	line-height: 26px;
	margin-bottom: 12px;
	}
	.hsContent p {
	width: 400px;
	margin: 0 auto;
	color: #dddddd;
	}
	.hsContent a {
		color: #b2b2b2;
		text-decoration: underline;
	}
	.bgBlack {
		background-color: rgba(0,0,0,0.75);
		padding: 3px 10px;
	}


#contentno5_no4{
	width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

#contentno5_no4 p{
	
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
	font-size:15px;
	color:#000;
}


.contentno4_boxes_container{
	width: 1000px;
	height: 400px;
	margin:0 auto;
}

.contentno4_boxes_container ul{}

.contentno4_boxes_container li{
	width: 418px;
	float: left;
	list-style: none;
	padding: 30px;
	text-align: center;	
}

.contentno4_boxes_container li h1{
	font-size: 20px;
	text-align: center;
	color: #fff;	
}

.contentno4_boxes_container li p{
	font-size: 13px;
	text-align: center;
	color: #767676;
}




/* main slide */
.mainslide_container{
	width: 625px;	
}


.mainslide_container ul{
	width:850px;
}

.mainslide_container li{
	
	width:175px;
	padding-right:50px;
	float:left;
	list-style:none;
	
}

.mainslide_container li.end{
	
	padding-right:0px;
	
}

.mainslide_container_photo{
	width: 175px;
	height: 80px;
	
}


.mainslide_container_txt1{
	
	font-size:16px;
	color:#fff;
	text-align:center;
	letter-spacing:0px;
	
}


.slide_info_text_box_container{
	width: 650px;
	margin: 0 auto;
	line-height: normal;
	margin-top: 300px;
	margin-bottom: 300px;
}


.slide_info_text_box_container h2{
	font-family: "open_sanssemibold", sans-serif;
}



.slide_info_text_box{
	width: 650px;
	margin: 0 auto;
	line-height: normal;
}

.slide_info_text_box ul{
	
}

.slide_info_text_box li{
	
	 list-style:none;
	
}



.link_btn{
	
	width:300px;
	padding-top:15px;
	padding-bottom:15px;
	border:1px solid #000;
	font-size:14px;
	float:left;
	margin-right:20px;
	color:#000;
	font-weight:bold;
	
	
}

.link_btn:hover{
	
	background-color:#fff;
	color:#b8af7d;
	
}


.link_btn2{
	
	width:300px;
	padding-top:15px;
	padding-bottom:15px;
	border:1px solid #000;
	font-size:14px;
	float:left;
	color:#000;
	font-weight:bold;
	
	
}


.link_btn2:hover{
	
	background-color:#fff;
	color:#b8af7d;
	
}



.link_btn3{
	
	width:300px;
	padding-top:15px;
	padding-bottom:15px;
	border:1px solid #fff;
	font-size:14px;
	color:#fff;
	font-weight:bold;
	margin:0 auto;
	
	
}


.link_btn3:hover{
	
	background-color:#fff;
	color:#b8af7d;
	
}




.section--purple {
  background-color: #9b59b6;
}
