/* fonts */
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* fonts */



.header_nav{
	
	width:100%;
	position:absolute;
	z-index:100;
	
}


.header_nav_inside{
	max-width: 540px;
	margin: 0 auto;	
}


/* Chrome 29+ */
.header_nav_inside{
	max-width: 540px;
	margin: 0 auto;
}


.header_nav_inside ul{
	
}


.header_nav_inside li{
	
	width:100%;
	float:left;
	list-style:none;
	
}


.nav_language{
	width: 540px;
	margin: 0 auto;
	text-align: right;
	font-size: 12px;
	color: #fff;
}




/* dropdown */

/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 13px;
    border: none;
    cursor: pointer;
	background-color:transparent;
	font-family: 'open_sanssemibold';
}



.dropbtn a {
    color: white;
}

.dropbtn a:hover {
    color: #ff4165;
}

/* The container <div> - needed to position the dropdown content */
.nav_logo {
    position: relative;
    display: inline-block;
	background-color:transparent;
}

.dropdown {
    position: relative;
    display: inline-block;
	background-color:transparent;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
}

/* dropdown */




/* middle contents */

.contentno1{
width:100%;
background-color:#f3f5f7;
}

.contentno1_inside{
	width: 320px;
	margin: 0 auto;
	background-position: right bottom;
	background-repeat: no-repeat;
}

.contentno1_header{
	padding-top: 80px;
	font-size: 22px;
	font-weight: bold;
	color: #000;
	text-align: center;
}


.contentno1_content{
	padding-top: 35px;
	padding-bottom: 35px;
	font-size: 12px;
	font-weight: normal;
	color: #727272;
	line-height: 24px;
	width: 100%;
}

.contentno1_content2{
	padding-top: 35px;
	color: #727272;
	width: 100%;
	text-align: center;
	height: 200px;
	background-image:url(../img/sub/device_img_m.png);
	background-position:center bottom;
	background-repeat:no-repeat;
}

.contentno1_content2 img{
	width: 100%;
	height: 100%;
	
}




.contentno2{
width:100%;
background-color:#fff;
}

.contentno2_inside{
	width: 320px;
	margin: 0 auto;
}


.contentno2_header{
	padding-top: 50px;
	font-size: 20px;
	font-weight: bold;
	color: #000;
	text-align: center;
}


.contentno2_header_box{
	width: 20px;
	height: 3px;
	background-color: #000000;
	margin: 0 auto;	
	margin-top:15px;
}


.contentno2_subheader{
	padding-top: 15px;
	padding-bottom: 20px;
	font-size: 13px;
	font-weight: normal;
	color: #9b9d9e;
	text-align: center;
}

#contentno2_no1{
	width: 320px;
	margin: 0 auto;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

#contentno2_no1 p{
	
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
	font-size:15px;
	color:#000;
}

#contentno2_no2{
	width: 320px;
	margin: 0 auto;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

#contentno2_no2 p{
	
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
	font-size:15px;
	color:#000;
}

#contentno2_no3{
	width: 320px;
	margin: 0 auto;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

#contentno2_no3 p{
	
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
	font-size:15px;
	color:#000;
}

#contentno2_no4{
	width: 320px;
	margin: 0 auto;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

#contentno2_no4 p{
	
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
	font-size:15px;
	color:#000;
}

.contentno2_btn{
	width: 180px;
	border: 3px solid #3987d3;
	text-align: center;
	font-size: 15px;
	color: #3987d3;
	margin: 0 auto;	
}


.contentno2_bottom_btns{
	width: 320px;
	margin: 0 auto;
	height: 420px;
}


.contentno2_bottom_btns ul{
	
}

.contentno2_bottom_btns li{
	
	width:90px;
	margin-left:35px;
	margin-right:35px;
	float:left;
	list-style-type:none;
	margin-bottom:35px;
	
	
}

.contentno2_bottom_btns li.last{
	
	margin-left:35px;
	margin-right:35px;
	margin-bottom:35px;
	
}


.contentno2_bottom_btns_btn1 {
	width: 90px;
	height: 90px;
}
.contentno2_bottom_btns_btn2 {
	width: 90px;
	height: 90px;
}
.contentno2_bottom_btns_btn3 {
	width: 90px;
	height: 90px;
}
.contentno2_bottom_btns_btn4 {
	width: 90px;
	height: 90px;
}
.contentno2_bottom_btns_text1 {
	font-size: 18px;
	color: #000;
	font-weight: bold;
	line-height: 23px;
	text-align: center;
	padding-top:15px;
}



.contentno3{
width:100%;
background-color:#fff;
}

.contentno3_inside{
width:1000px;
margin:0 auto;
}



.contentno4{
	width: 100%;
	background-color: #f3f5f7;
}

.contentno4_inside{
	width: 320px;
	margin: 0 auto;
}


.contentno4_header{
	padding-top:80px;
	font-size:22px;
	font-weight:bold;
	color:#000;
	text-align:center;
}





#contentno5_no1{
	width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

#contentno5_no1 p{
	
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
	font-size:15px;
	color:#000;
}

#contentno5_no2{
	width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

#contentno5_no2 p{
	
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
	font-size:15px;
	color:#000;
}

#contentno5_no3{
	width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

#contentno5_no3 p{
	
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
	font-size:15px;
	color:#000;
}

#contentno5_no4{
	width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

#contentno5_no4 p{
	
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
	font-size:15px;
	color:#000;
}
